flask==3.1.0
flask-cors==5.0.0
gunicorn==21.2.0
python-dotenv==1.0.1
langchain-groq==0.2.1
langchain-pinecone==0.2.0
langchain-huggingface==0.1.2
langchain-community==0.3.11
pinecone-client==5.0.1
sentence-transformers==2.6.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu