name: Frontend CI/CD

on:
    push:
        branches: [main]
        paths:
            - "frontend/**"
            - ".github/workflows/frontend-ci-cd.yml"

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - name: Deploy to Netlify
              uses: nwtgck/actions-netlify@v2.0
              with:
                  publish-dir: "./frontend"
                  production-branch: main
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  deploy-message: "Deploy from GitHub Actions"
              env:
                  NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
                  NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
